<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome To Eng-16</h1>
    <p class="lead">"Alone we can do so little; together we can do so much."</p>
    <br>
    <p class="lead">Go to Subjects to find out what skills we have developed, during our time at Sparta Gobal</p>
  </div>
</div>
