<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Learning platform for <br> Eng-16</h1>
    <p class="lead">"Alone we can do so little; together we can do so much."</p>
    <p class="lead brief">Browse our website to find out who we are and what skills we have developed.</p>
  </div>
</div>
