<h1>Subjects</h1>
  <% @subjects.each do |subject| %>
    <div class="container">
      <!-- <img src="" alt=""> -->
      <h2><%= link_to "#{subject.name}", subject %></h2>
      <p><%= subject.desc %></p>
    </div>
  <% end %>
