/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.body{
  background-color: #fafafa;
}

.form{
  background-color: white;
  /* justify-content: center; */
  margin: auto;
  width: 35vw;
  margin: 0px;
  border: 1px solid grey;
  border-radius: 20px;
}

.nameInput input{
  /* justify-content: center; */
  width: 30vw;
  background-color: #f2f2f2;
}

.descInput textarea{
  /* justify-content: center; */
  width: 30vw;
  height: 400px;
  background-color: #f2f2f2;
}

.button input{
  /* justify-content: center; */
  width: 30vw;
  background-color: #404040;
  color: white;
  border-radius: 100px;
  margin-bottom: 10px;
  height: 50px;
}
