/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.jumbotron{
  height: 750px;
  background-image: url("jumboBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  position: relative;
  top: 50px;
}

.display-4{
  color: white;
  font-size: 90px;
}

.lead{
  color: white;
  font-size: 30px;
}

.brief{
  position: relative;
  top: 150px;
  font-size: 20px;
}

body{
  background-color: #fafafa;
}

.form{
  background-color: white;
  /* justify-content: center; */
  margin: auto;
  width: 35vw;
  margin: 0px;
  border: 1px solid grey;
  border-radius: 20px;
}

.nameInput input{
  /* justify-content: center; */
  width: 30vw;
  background-color: #f2f2f2;
}

.descInput textarea{
  /* justify-content: center; */
  width: 30vw;
  height: 400px;
  background-color: #f2f2f2;
}

.button input{
  /* justify-content: center; */
  width: 30vw;
  background-color: #404040;
  color: white;
  border-radius: 100px;
  margin-bottom: 10px;
  height: 50px;
}

.jumbotron .container {
  /* background-color: lightgrey; */
  /* opacity: 0.7; */
  /* width: 600px; */
  position: relative;
  top: 300px;
  /* left: 00px; */
}

.display-4, .lead {
  color: white;
}
