// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel_slide {
  width: 100%;
  height: 500px;
}
.image {
  width: 100%;
  height: 750px;
}
h5 {
  color: hotpink;
}
