<nav class="navbar navbar-expand-lg navbar-light bg-dark footer ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active text-light" href="https://github.com/arunkal1/eng16"><span class="sr-only">(current)</span>Github</a>
      <a class="nav-item nav-link text-light" href="https://www.spartaglobal.com/">Sparta Global</a>
    </div>
  </div>
</nav>
