<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-light" href="#">Eng-16</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#"><%= link_to "Home", "/" %> <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#"><%= link_to "Subjects", subjects_path %></a>
      <a class="nav-item nav-link" href="#"><%= link_to "About Us", "/profiles" %></a>
    </div>
  </div>
</nav>
